body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: #4e4e4e;
  background-color: #38fd99;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

#stringbet-logo {
  width: 50;
  height: 50;
  margin: 25;
}

.stringbet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stringbet-container div {
  max-width: 500;
}

.stringbet-link {
  text-decoration: none;
  color: #23a484;
}

.centered {
  text-align: center;
}
